/*
how to use?
--import this file in _all file
--include function: @include myFunction();
*/

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin Ytransform($arg) {
    -webkit-transform: translateY($arg);
    -moz-transform: translateY($arg);
    -ms-transform: translateY($arg);
    transform: translateY($arg);
}

@mixin jobTransition($arg1, $arg2) {
    -webkit-transition: -webkit-$arg1, $arg2;
    -moz-transition: -moz-$arg1, $arg2;
    transition: $arg1, $arg2;
}

@mixin absolute($left, $top, $right) {
    position: absolute;
    left: $left;
    top: $top;
    right: $right;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/*
    How to use background => @include background(blue, url(img.jpg), left top, no-repeat, fixed);
*/
@mixin background($color, $image, $position, $repeat, $attachment) {
    background: $color $image $position $repeat $attachment;
}

@mixin userSelect() {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default
}

@mixin nowrap() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin selection($backgroundColor, $color) {
    ::-webkit-selection {
        background: $backgroundColor;
        color: $color;
    }  
    ::-moz-selection {
        background: $backgroundColor;
        color: $color;
    }
    ::-ms-selection {
        background: $backgroundColor;
        color: $color;
    }
    ::-o-selection {
        background: $backgroundColor;
        color: $color;
    }
}

/*
    how to use vertical-align => @include vertical-align();
*/
@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}