.row {
    display: block;
    width: 100%;
    margin: 0 auto;
    clear: both;
}

.row:before,
.row:after {
    content: ' ';
    display: table;
    clear: both;
}

/* Row Alignment */

.row.left  {float: left;}
.row.right {float: right;}

/* Row Max-Width */

.row.xs {max-width: 32rem;} /* 512px */
.row.sm {max-width: 48rem;} /* 768px */
.row.md {max-width: 64rem;} /* 1024px */
.row.lg {max-width: 80rem;} /* 1280px */
.row.xl {max-width: 96rem;} /* 1536px */

/* Column */

.col {
    display: block;
    width: 100%;
    float: left;
}

/* Column Width: Extra-Small (>= 0px) */

.xs-0 {display: none;}
.xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12 {display: block;}
.xs-1  {width: 8.3333%;}
.xs-2  {width: 16.6667%;}
.xs-3  {width: 25%;}
.xs-4  {width: 33.3333%;}
.xs-5  {width: 41.6667%;}
.xs-6  {width: 50%;}
.xs-7  {width: 58.3333%;}
.xs-8  {width: 66.6667%;}
.xs-9  {width: 75%;}
.xs-10 {width: 83.3333%;}
.xs-11 {width: 91.6667%;}
.xs-12 {width: 100%;}

/* Column Width: Small (>= 512px) */

@media (min-width: 32em) {
    .sm-0 {display: none;}
    .sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12 {display: block;}
    .sm-1  {width: 8.3333%;}
    .sm-2  {width: 16.6667%;}
    .sm-3  {width: 25%;}
    .sm-4  {width: 33.3333%;}
    .sm-5  {width: 41.6667%;}
    .sm-6  {width: 50%;}
    .sm-7  {width: 58.3333%;}
    .sm-8  {width: 66.6667%;}
    .sm-9  {width: 75%;}
    .sm-10 {width: 83.3333%;}
    .sm-11 {width: 91.6667%;}
    .sm-12 {width: 100%;}
}

/* Column Width: Medium (>= 768px) */

@media (min-width: 48em) {
    .md-0 {display: none;}
    .md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12 {display: block;}
    .md-1  {width: 8.3333%;}
    .md-2  {width: 16.6667%;}
    .md-3  {width: 25%;}
    .md-4  {width: 33.3333%;}
    .md-5  {width: 41.6667%;}
    .md-6  {width: 50%;}
    .md-7  {width: 58.3333%;}
    .md-8  {width: 66.6667%;}
    .md-9  {width: 75%;}
    .md-10 {width: 83.3333%;}
    .md-11 {width: 91.6667%;}
    .md-12 {width: 100%;}
}

/* Column Width: Large (>= 1024px) */

@media (min-width: 64em) {
    .lg-0 {display: none;}
    .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12 {display: block;}
    .lg-1  {width: 8.3333%;}
    .lg-2  {width: 16.6667%;}
    .lg-3  {width: 25%;}
    .lg-4  {width: 33.3333%;}
    .lg-5  {width: 41.6667%;}
    .lg-6  {width: 50%;}
    .lg-7  {width: 58.3333%;}
    .lg-8  {width: 66.6667%;}
    .lg-9  {width: 75%;}
    .lg-10 {width: 83.3333%;}
    .lg-11 {width: 91.6667%;}
    .lg-12 {width: 100%;}
}

/* Column Width: Extra-Large (>= 1280px) */

@media (min-width: 80em) {
    .xl-0 {display: none;}
    .xl-1, .xl-2, .xl-3, .xl-4, .xl-5, .xl-6, .xl-7, .xl-8, .xl-9, .xl-10, .xl-11, .xl-12 {display: block;}
    .xl-1  {width: 8.3333%;}
    .xl-2  {width: 16.6667%;}
    .xl-3  {width: 25%;}
    .xl-4  {width: 33.3333%;}
    .xl-5  {width: 41.6667%;}
    .xl-6  {width: 50%;}
    .xl-7  {width: 58.3333%;}
    .xl-8  {width: 66.6667%;}
    .xl-9  {width: 75%;}
    .xl-10 {width: 83.3333%;}
    .xl-11 {width: 91.6667%;}
    .xl-12 {width: 100%;}
}
