*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
body,
form,
fieldset,
legend,
input,
select,
textarea,
button {
    margin: 0;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
    color: #585858;
    font-weight: 400;
    background: #fff;
}
p {
    margin: 0 0 1em 0;
}
a {
    color: #cd5c5c;
    background: transparent;
    text-decoration: underline;
}
a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: sans-serif;
    margin: 0;
}
h1,
.h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 38px;
    line-height: 2.375rem;
    margin-top: .7em;
    margin-bottom: .5em;
    color: #343434;
    font-weight: 400;
}
h2,
.h2 {
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 32px;
    line-height: 2rem;
    margin-top: 1.4em;
    margin-bottom: .2em;
    color: #343434;
    font-weight: 400;
}
h3,
.h3 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
    margin-top: 1em;
    margin-bottom: .2em;
    color: #343434;
    font-weight: 400;
}
h4,
.h4 {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    margin-top: 1em;
    margin-bottom: .2em;
    color: #343434;
    font-weight: 400;
}
h5,
.h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 22px;
    line-height: 1.375rem;
    margin-top: 1em;
    margin-bottom: .1em;
    color: #343434;
    font-weight: 400;
}
h6,
.h6 {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 20px;
    line-height: 1.25rem;
    margin-top: 1em;
    margin-bottom: .1em;
    color: #343434;
    font-weight: 400;
}
b,
strong,
.strong {
    font-weight: 700;
}
em,
.em {
    font-style: italic;
}
abbr[title],
.abbr[title] {
    border-bottom: 1px dotted;
}
dfn {
    font-style: italic;
}
small,
.small {
    font-size: 80%;
}
mark,
.mark {
    background: #ff0;
    color: #000;
}
sub,
.sub,
sup,
.sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup,
.sup {
    top: -0.5em;
}
sub,
.sub {
    bottom: -0.25em;
}
del,
.del {
    text-decoration: line-through;
}
figure {
    margin: 1em 40px;
}
hr,
.hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    background: #eee;
    border: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}
ul,
ol {
    margin: 1em 0 2em 0;
    padding: 0;
}
ul li,
ol li {
    margin-bottom: 5px;
}
dl:before,
dl:after {
    content: " ";
    display: table;
}
dl:after {
    clear: both;
}
dl dt {
    float: left;
    width: 25%;
    display: block;
    font-weight: 400;
}
dl dd {
    overflow: hidden;
    display: block;
}
blockquote,
.blockquote {
    font-family: sans-serif;
    font-weight: 400;
    color: #424242;
    font-style: italic;
    margin: 3em 0;
}
blockquote p,
.blockquote p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
    margin-bottom: .4em;
}
blockquote cite,
.blockquote cite {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 19px;
    line-height: 1.1875rem;
    font-weight: 700;
    font-style: normal;
    color: #777;
}
caption {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: normal;
    font-weight: 700;
    text-align: left;
    padding: .5em 0;
    border-bottom: 1px solid #d7d7d7;
}
table {
    font-size: 14px;
    font-size: 0.875rem;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 1em 0;
    text-align: left;
}
table thead td,
table tbody td,
table tfoot td,
table thead th,
table tbody th,
table tfoot th {
    color: #585858;
    padding: .8em .5em;
    border-bottom: 1px solid #e9e9e9;
}
code,
kbd,
pre,
samp {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 18px;
    line-height: 1.125rem;
    word-wrap: break-word;
    font-family: 'courier new', monospace, serif;
    color: #272727;
    background-color: #f1f1f1;
    font-weight: normal;
    padding: 5px;
    white-space: pre-wrap;
}
pre {
    padding: 10px;
    overflow: auto;
    border: 1px solid #d7d7d7;
}
fieldset,
legend {
    border: 0;
    margin: 0;
    padding: 0;
}
legend {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-weight: 700;
}
.form {
    padding-top: 1em;
    padding-bottom: 1em;
}
label,
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input {
    line-height: normal;
}
.input {
    width: 100%;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"] {
    height: 36px;
    padding: 0 .4em;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
textarea {
    overflow: auto;
}
select {
    text-transform: none;
}
optgroup {
    font-weight: 700;
}
button {
    overflow: visible;
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
    color: #999;
}
::-moz-placeholder {
    color: #999;
}
:-ms-input-placeholder {
    color: #999;
}
.button {
    border: 1px solid #d7d7d7;
    background-color: #f3f3f3;
    line-height: normal;
    padding: .5em 1em;
    text-decoration: none;
    color: #363636;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.button:hover,
.button:active {
    text-decoration: none;
}
.button:hover {
    background: #f9f9f9;
}
.button-link {
    color: #cd5c5c;
    text-decoration: underline;
    border: 0;
    background: transparent;
    padding: 0;
}
.button-link:hover {
    text-decoration: none;
}
.button-link:active {
    outline: 0;
}
.select {
    border: 1px solid #ccc;
    overflow: hidden;
    height: 36px;
    line-height: 32px;
    padding: 0 .4em;
    position: relative;
    display: block;
}
.select:before {
    content: "";
    border: 6px solid transparent;
    border-top-color: #676767;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    pointer-events: none;
    position: absolute;
}
.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 120%;
    height: 36px;
    padding: 0;
    line-height: normal;
    border: 0;
    background: transparent;
    display: block;
}
.select select:focus {
    outline: 0;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: inherit;
}
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
.row {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 740px) {
    .container,
    .container-full {
        width: 720px;
    }
    .container-tablet {
        width: 720px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .container-full-tablet {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (min-width: 980px) {
    .container,
    .container-full {
        width: 960px;
    }
    .container-desktop {
        width: 960px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .container-full-desktop {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and (min-width: 1140px) {
    .container,
    .container-full {
        width: 1120px;
    }
    .container-hd {
        width: 1120px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .container-full-hd {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: right;/*edit => right*/
}
.col-1 {
    width: 8.33333333%;
}
.col-2 {
    width: 16.66666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333333%;
}
.col-5 {
    width: 41.66666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333333%;
}
.col-8 {
    width: 66.66666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333333%;
}
.col-11 {
    width: 91.66666667%;
}
.col-12 {
    width: 100%;
}
.push-1 {
    left: 8.33333333%;
}
.push-2 {
    left: 16.66666667%;
}
.push-3 {
    left: 25%;
}
.push-4 {
    left: 33.33333333%;
}
.push-5 {
    left: 41.66666667%;
}
.push-6 {
    left: 50%;
}
.push-7 {
    left: 58.33333333%;
}
.push-8 {
    left: 66.66666667%;
}
.push-9 {
    left: 75%;
}
.push-10 {
    left: 83.33333333%;
}
.push-11 {
    left: 91.66666667%;
}
.pull-1 {
    left: -8.33333333%;
}
.pull-2 {
    left: -16.66666667%;
}
.pull-3 {
    left: -25%;
}
.pull-4 {
    left: -33.33333333%;
}
.pull-5 {
    left: -41.66666667%;
}
.pull-6 {
    left: -50%;
}
.pull-7 {
    left: -58.33333333%;
}
.pull-8 {
    left: -66.66666667%;
}
.pull-9 {
    left: -75%;
}
.pull-10 {
    left: -83.33333333%;
}
.pull-11 {
    left: -91.66666667%;
}
@media only screen and (min-width: 740px) {
    .col-1-tablet,
    .col-2-tablet,
    .col-3-tablet,
    .col-4-tablet,
    .col-5-tablet,
    .col-6-tablet,
    .col-7-tablet,
    .col-8-tablet,
    .col-9-tablet,
    .col-10-tablet,
    .col-11-tablet,
    .col-12-tablet {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: right; /*edit => right*/
    }
    .col-1-tablet {
        width: 8.33333333%;
    }
    .col-2-tablet {
        width: 16.66666667%;
    }
    .col-3-tablet {
        width: 25%;
    }
    .col-4-tablet {
        width: 33.33333333%;
    }
    .col-5-tablet {
        width: 41.66666667%;
    }
    .col-6-tablet {
        width: 50%;
    }
    .col-7-tablet {
        width: 58.33333333%;
    }
    .col-8-tablet {
        width: 66.66666667%;
    }
    .col-9-tablet {
        width: 75%;
    }
    .col-10-tablet {
        width: 83.33333333%;
    }
    .col-11-tablet {
        width: 91.66666667%;
    }
    .col-12-tablet {
        width: 100%;
    }
    .push-1-tablet {
        left: 8.33333333%;
    }
    .push-2-tablet {
        left: 16.66666667%;
    }
    .push-3-tablet {
        left: 25%;
    }
    .push-4-tablet {
        left: 33.33333333%;
    }
    .push-5-tablet {
        left: 41.66666667%;
    }
    .push-6-tablet {
        left: 50%;
    }
    .push-7-tablet {
        left: 58.33333333%;
    }
    .push-8-tablet {
        left: 66.66666667%;
    }
    .push-9-tablet {
        left: 75%;
    }
    .push-10-tablet {
        left: 83.33333333%;
    }
    .push-11-tablet {
        left: 91.66666667%;
    }
    .pull-1-tablet {
        left: -8.33333333%;
    }
    .pull-2-tablet {
        left: -16.66666667%;
    }
    .pull-3-tablet {
        left: -25%;
    }
    .pull-4-tablet {
        left: -33.33333333%;
    }
    .pull-5-tablet {
        left: -41.66666667%;
    }
    .pull-6-tablet {
        left: -50%;
    }
    .pull-7-tablet {
        left: -58.33333333%;
    }
    .pull-8-tablet {
        left: -66.66666667%;
    }
    .pull-9-tablet {
        left: -75%;
    }
    .pull-10-tablet {
        left: -83.33333333%;
    }
    .pull-11-tablet {
        left: -91.66666667%;
    }
}
@media only screen and (min-width: 980px) {
    .col-1-desktop,
    .col-2-desktop,
    .col-3-desktop,
    .col-4-desktop,
    .col-5-desktop,
    .col-6-desktop,
    .col-7-desktop,
    .col-8-desktop,
    .col-9-desktop,
    .col-10-desktop,
    .col-11-desktop,
    .col-12-desktop {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: right;/*edit => right*/
    }
    .col-1-desktop {
        width: 8.33333333%;
    }
    .col-2-desktop {
        width: 16.66666667%;
    }
    .col-3-desktop {
        width: 25%;
    }
    .col-4-desktop {
        width: 33.33333333%;
    }
    .col-5-desktop {
        width: 41.66666667%;
    }
    .col-6-desktop {
        width: 50%;
    }
    .col-7-desktop {
        width: 58.33333333%;
    }
    .col-8-desktop {
        width: 66.66666667%;
    }
    .col-9-desktop {
        width: 75%;
    }
    .col-10-desktop {
        width: 83.33333333%;
    }
    .col-11-desktop {
        width: 91.66666667%;
    }
    .col-12-desktop {
        width: 100%;
    }
    .push-1-desktop {
        left: 8.33333333%;
    }
    .push-2-desktop {
        left: 16.66666667%;
    }
    .push-3-desktop {
        left: 25%;
    }
    .push-4-desktop {
        left: 33.33333333%;
    }
    .push-5-desktop {
        left: 41.66666667%;
    }
    .push-6-desktop {
        left: 50%;
    }
    .push-7-desktop {
        left: 58.33333333%;
    }
    .push-8-desktop {
        left: 66.66666667%;
    }
    .push-9-desktop {
        left: 75%;
    }
    .push-10-desktop {
        left: 83.33333333%;
    }
    .push-11-desktop {
        left: 91.66666667%;
    }
    .pull-1-desktop {
        left: -8.33333333%;
    }
    .pull-2-desktop {
        left: -16.66666667%;
    }
    .pull-3-desktop {
        left: -25%;
    }
    .pull-4-desktop {
        left: -33.33333333%;
    }
    .pull-5-desktop {
        left: -41.66666667%;
    }
    .pull-6-desktop {
        left: -50%;
    }
    .pull-7-desktop {
        left: -58.33333333%;
    }
    .pull-8-desktop {
        left: -66.66666667%;
    }
    .pull-9-desktop {
        left: -75%;
    }
    .pull-10-desktop {
        left: -83.33333333%;
    }
    .pull-11-desktop {
        left: -91.66666667%;
    }
}
@media only screen and (min-width: 1140px) {
    .col-1-hd,
    .col-2-hd,
    .col-3-hd,
    .col-4-hd,
    .col-5-hd,
    .col-6-hd,
    .col-7-hd,
    .col-8-hd,
    .col-9-hd,
    .col-10-hd,
    .col-11-hd,
    .col-12-hd {
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        float: right;/*edit => right*/
    }
    .col-1-hd {
        width: 8.33333333%;
    }
    .col-2-hd {
        width: 16.66666667%;
    }
    .col-3-hd {
        width: 25%;
    }
    .col-4-hd {
        width: 33.33333333%;
    }
    .col-5-hd {
        width: 41.66666667%;
    }
    .col-6-hd {
        width: 50%;
    }
    .col-7-hd {
        width: 58.33333333%;
    }
    .col-8-hd {
        width: 66.66666667%;
    }
    .col-9-hd {
        width: 75%;
    }
    .col-10-hd {
        width: 83.33333333%;
    }
    .col-11-hd {
        width: 91.66666667%;
    }
    .col-12-hd {
        width: 100%;
    }
    .push-1-hd {
        left: 8.33333333%;
    }
    .push-2-hd {
        left: 16.66666667%;
    }
    .push-3-hd {
        left: 25%;
    }
    .push-4-hd {
        left: 33.33333333%;
    }
    .push-5-hd {
        left: 41.66666667%;
    }
    .push-6-hd {
        left: 50%;
    }
    .push-7-hd {
        left: 58.33333333%;
    }
    .push-8-hd {
        left: 66.66666667%;
    }
    .push-9-hd {
        left: 75%;
    }
    .push-10-hd {
        left: 83.33333333%;
    }
    .push-11-hd {
        left: 91.66666667%;
    }
    .pull-1-hd {
        left: -8.33333333%;
    }
    .pull-2-hd {
        left: -16.66666667%;
    }
    .pull-3-hd {
        left: -25%;
    }
    .pull-4-hd {
        left: -33.33333333%;
    }
    .pull-5-hd {
        left: -41.66666667%;
    }
    .pull-6-hd {
        left: -50%;
    }
    .pull-7-hd {
        left: -58.33333333%;
    }
    .pull-8-hd {
        left: -66.66666667%;
    }
    .pull-9-hd {
        left: -75%;
    }
    .pull-10-hd {
        left: -83.33333333%;
    }
    .pull-11-hd {
        left: -91.66666667%;
    }
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.no-float {
    float: none;
}
.no-background {
    background: transparent;
}
.no-border {
    border: 0;
}
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.font-100 {
    font-weight: 100;
}
.font-200 {
    font-weight: 200;
}
.font-300 {
    font-weight: 300;
}
.font-400 {
    font-weight: 400;
}
.font-500 {
    font-weight: 500;
}
.font-600 {
    font-weight: 600;
}
.font-700 {
    font-weight: 700;
}
.font-800 {
    font-weight: 800;
}
.font-900 {
    font-weight: 900;
}
.font-normal {
    font-style: normal;
}
.font-italic {
    font-style: italic;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.static {
    position: static;
}
.fixed {
    position: fixed;
}
.none {
    display: none;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-space-around {
    justify-content: space-around;
}
.flex-space-between {
    justify-content: space-between;
}
.flex-start {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center-element {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.sr {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-unstyled li {
    margin: 0;
    padding: 0;
}
.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-inline li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.img-responsive {
    max-width: 100%;
}
.img-left {
    float: left;
    margin-right: 20px;
}
.img-right {
    float: right;
    margin-left: 20px;
}
.field-group {
    padding-top: .5em;
    padding-bottom: .5em;
    overflow: hidden;
}
.field-group label {
    padding-top: 8px;
}
.field {
    width: 100%;
}
.disabled {
    pointer-events: none;
    opacity: .5;
}
.checkbox,
.radio {
    display: inline-block;
    position: relative;
    margin-top: .5em;
    margin-bottom: .5em;
}
.checkbox label,
.radio label {
    padding-left: 20px;
    padding-top: 0;
    display: inline-block;
}
.checkbox input[type="checkbox"],
.radio input[type="checkbox"],
.checkbox input[type="radio"],
.radio input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0;
}
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animate-infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@media only screen and (min-width: 740px) {
    .no-float-tablet {
        float: none;
    }
    .no-padding-tablet {
        padding: 0;
    }
    .no-margin-tablet {
        margin: 0;
    }
    .none-tablet {
        display: none;
    }
    .block-tablet {
        display: block;
    }
    .inline-block-tablet {
        display: inline-block;
    }
    .inline-tablet {
        display: inline;
    }
    .text-left-tablet {
        text-align: left;
    }
    .text-right-tablet {
        text-align: right;
    }
    .text-center-tablet {
        text-align: center;
    }
    .text-justify-tablet {
        text-align: justify;
    }
    .no-col-tablet {
        width: auto;
        float: none;
    }
    .no-push-tablet,
    .no-pull-tablet {
        left: 0;
    }
}
@media only screen and (min-width: 980px) {
    .no-float-desktop {
        float: none;
    }
    .no-padding-desktop {
        padding: 0;
    }
    .no-margin-desktop {
        margin: 0;
    }
    .none-desktop {
        display: none;
    }
    .block-desktop {
        display: block;
    }
    .inline-block-desktop {
        display: inline-block;
    }
    .inline-desktop {
        display: inline;
    }
    .text-left-desktop {
        text-align: left;
    }
    .text-right-desktop {
        text-align: right;
    }
    .text-center-desktop {
        text-align: center;
    }
    .text-justify-desktop {
        text-align: justify;
    }
    .no-col-desktop {
        width: auto;
        float: none;
    }
    .no-push-desktop,
    .no-pull-desktop {
        left: 0;
    }
}
@media only screen and (min-width: 1140px) {
    .no-float-hd {
        float: none;
    }
    .no-padding-hd {
        padding: 0;
    }
    .no-margin-hd {
        margin: 0;
    }
    .none-hd {
        display: none;
    }
    .block-hd {
        display: block;
    }
    .inline-block-hd {
        display: inline-block;
    }
    .inline-hd {
        display: inline;
    }
    .text-left-hd {
        text-align: left;
    }
    .text-right-hd {
        text-align: right;
    }
    .text-center-hd {
        text-align: center;
    }
    .text-justify-hd {
        text-align: justify;
    }
    .no-col-hd {
        width: auto;
        float: none;
    }
    .no-push-hd,
    .no-pull-hd {
        left: 0;
    }
}
@media print {
    .no-float-print {
        float: none;
    }
    .no-padding-print {
        padding: 0;
    }
    .no-margin-print {
        margin: 0;
    }
    .none-print {
        display: none;
    }
    .block-print {
        display: block;
    }
    .inline-block-print {
        display: inline-block;
    }
    .inline-print {
        display: inline;
    }
    .text-left-print {
        text-align: left;
    }
    .text-right-print {
        text-align: right;
    }
    .text-center-print {
        text-align: center;
    }
    .text-justify-print {
        text-align: justify;
    }
    .no-col-print {
        width: auto;
        float: none;
    }
    .no-push-print,
    .no-pull-print {
        left: 0;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-down {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-down-big {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
        transform: translate3d(-30px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
        transform: translate3d(-30px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-left-big {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(30px, 0, 0);
        transform: translate3d(30px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(30px, 0, 0);
        transform: translate3d(30px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-right-big {
    -webkit-animation-name: fadeInRightBig;
    animation-name: fadeInRightBig;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-up {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fade-in-up-big {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
}
@media print {
    *,
    *:before,
    *:after {
        background: transparent;
        color: #000;
        box-shadow: none;
        text-shadow: none;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr {
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
        max-width: 100%;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
}
