
/* Shadows */
.shadow-purple{
	box-shadow: 0 7px 30px rgba(184, 28, 255, 0.45)!important;
}
.shadow-primary{
	box-shadow: 0 7px 30px rgba(2, 140, 253, 0.7)!important;
}
.shadow-secondary{
	box-shadow: 0 7px 30px rgba(117, 129, 137, 0.83)!important;
}
.shadow-success{
	box-shadow: 0 7px 30px rgba(21, 201, 33, 0.74)!important;
}
.shadow-danger{
	box-shadow: 0 7px 30px rgba(253, 53, 80, 0.7)!important;
}
.shadow-warning{
	box-shadow: 0 7px 30px rgba(254, 151, 1, 0.65)!important;
}
.shadow-info{
	box-shadow: 0 7px 30px rgba(13, 206, 236, 0.73)!important;
}
.shadow-light{
	box-shadow: 0 7px 30px rgba(186, 193, 193, 0.83)!important;
}
.shadow-dark{
	box-shadow: 0 7px 30px rgba(34, 48, 53, 0.81)!important;
}

.shadow-facebook{
	box-shadow: 0 7px 30px rgba(59, 89, 152, 0.82);
}
.shadow-twitter{
	box-shadow: 0 7px 30px rgba(85, 172, 238, 0.82);
}

.shadow-google-plus{
	box-shadow: 0 7px 30px rgba(221, 75, 57, 0.82);
}
.shadow-linkedin{
	box-shadow: 0 7px 30px rgba(9, 118, 180, 0.82);
}
.shadow-pinterest{
	box-shadow: 0 7px 30px rgba(204, 33, 39, 0.82);
}
.shadow-youtube{
	box-shadow: 0 7px 30px rgba(229, 45, 39, 0.82);
}
.shadow-tumblr{
	box-shadow: 0 7px 30px rgba(53, 70, 92, 0.82);
}
.shadow-github{
	box-shadow: 0 7px 30px rgba(51, 51, 51, 0.82);
}
.shadow-behance{
	box-shadow: 0 7px 30px rgba(23, 105, 255, 0.82);
}
.shadow-dribbble{
	box-shadow: 0 7px 30px rgba(234, 76, 137, 0.82);
}
.shadow-skype{
	box-shadow: 0 7px 30px rgba(0, 175, 240, 0.82);
}
